In [3]:
import pandas as pd
import numpy as np

In [23]:
f = open("wild/wild_kwarg_out.txt", "r")
df = pd.read_csv(f, delim_whitespace=True)

In [24]:
df = df.dropna()
df

,Seed,Temp,SE_cost,RM_cost,R_cost,RR_cost,SE,RM,R,N_states,Time
0,3566720992,50.0,-1.0,-1.0,1.0,2.0,0.0,0.0,5.0,57,0.119119
1,1910524464,50.0,-1.0,-1.0,1.0,2.0,0.0,0.0,5.0,57,0.119600
2,3493365680,50.0,-1.0,-1.0,1.0,2.0,0.0,0.0,5.0,57,0.115123
3,3301400484,50.0,-1.0,-1.0,1.0,2.0,0.0,0.0,5.0,57,0.114328
4,2967816655,50.0,-1.0,-1.0,1.0,2.0,0.0,0.0,5.0,57,0.120567
...,...,...,...,...,...,...,...,...,...,...,...
21995,2943627779,30.0,1.0,1.1,-1.0,-1.0,4.0,0.0,0.0,253,0.050949
21996,2135649095,30.0,1.0,1.1,-1.0,-1.0,3.0,1.0,0.0,253,0.053914
21997,1703638866,30.0,1.0,1.1,-1.0,-1.0,4.0,0.0,0.0,265,0.054044
21998,3366345179,30.0,1.0,1.1,-1.0,-1.0,4.0,0.0,0.0,265,0.054057
21999,2797280020,30.0,1.0,1.1,-1.0,-1.0,4.0,0.0,0.0,253,0.053734

In [25]:
df.to_csv("wild/wild_kwarg_out_nadrop.txt", index=False, sep='\t')